/*
* 设计稿的比例是 iPhone6的两倍图 750 * 1334 px
* iPhone6分辨率为： 375 * 667 px
* 算法：calc(100vw/3.75/10) 结果是 iphone6的屏幕上的换算比例： 1rem = 10px; 
* 在开发过程中，将设计稿的尺寸除以20，即可是手机屏幕的比例，例如，设计稿中的一个矩形是100*100px的，那么css设置就是：5rem*5rem;
* 有个尴尬的点，浏览器只接受最低根字体元素是font-size:12px;所以1rem = 10px，在浏览器开发过程中看不出差距，就连iPhone 7plus在浏览器中
也被强制变成了1rem = 12px;
*!!!!!!字体图标比例跟设计稿跟设计稿比例是：1：0.825。例如：一个图标在设计稿上是40*40，转化成手机css样式是font-size:2rem;
这样的图标是偏小的。要除以0.825。在实际开发中为了保持统一与计算方便，规则定为取小数点后两位且四舍五入，也就是说font-size:2.42rem;
*/

html {
  font-size: 10px;
  height: 100%;
}

/*打开输入框的用户粘贴等操作*/

@media (min-width: 375px) {
  html {
    font-size: calc(100vw / 3.75 / 10);
  }
}

/*>=375的设备*/

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

/*>=1024的设备*/
